<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
 
    
        <table class="table table-info">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Password</th>
                    <th scope="col">Schedules</th>
                </tr>
            </thead>
            
            <% givenUser.forEach((user, index)=> { %>
                <tbody>
                    <tr>
                        <th scope="row">
                            <%= userId %>
                        </th>
                        <td>
                            <a class="text-decoration-none" href="/users/<%= userId %> ">
                                <%= user.firstname %>
                            </a>
                        </td>
                        <td>
                            <%= user.lastname %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.password %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/users/<%= userId %>/Schedules ">View</a>
                        </td>
                    </tr>
                </tbody>
                
                <% }) %>
        </table>
</body>
</html>