<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
           
                <table class="table table-info">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Day</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                        </tr>
                    </thead>
                    <% givenSchedule.forEach((schedule, index)=> { %>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= index + 1 %>
                                </th>
                                <td>
                                    <a class="text-decoration-none" href="/users/<%= schedule.user_id %> ">
                                        <%= schedule.user_id %>
                                    </a>
                                </td>
                                <td>
                                    <%= schedule.day %>
                                </td>
                                <td>
                                    <%= schedule.start_at %>
                                </td>
                                <td>
                                    <%= schedule.end_at %>
                                </td>
                            </tr>
                        </tbody>
                        <% }) %>
                </table>

</body>
</html>