<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
        <div class="text-center ">
            <h3 class="p-4">All schedules linked to users!</h3>
        </div>
        
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Day</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                </tr>
            </thead>
            
            <% allSchedules.forEach((schedule, index)=> { %>
                <tbody>
                    <tr>
                        <td>
                            <%= schedule.user_id %>
                        </td>
                        <td>
                            <%= schedule.username %>
                        </td>
                        
                        <td>
                            <%= schedule.day %>
                        </td>
                        <td>
                            <%= schedule.start_at %>
                        </td>
                        <td>
                            <%= schedule.end_at %>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
</body>
</html>
