<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
    
        <h3 class="text-center">All schedules linked to users</h3>
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Day</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                </tr>
            </thead>
            
            <% allSchedules.forEach((schedule, index)=> { %>
                <tbody>
                    <tr>
                        <th scope="row">
                            <%=index + 1%>
                        </th>
                        <td>
                            <a class="text-decoration-none text-primary" href="/users/<%= schedule.user_id %> ">
                                <%= schedule.user_id %>
                            </a>
                        </td>
                        <td>
                            <%= schedule.day %>
                        </td>
                        <td>
                            <%= schedule.start_at %>
                        </td>
                        <td>
                            <%= schedule.end_at %>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
</body>
</html>
