<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header") %>
<body>
   
    <main>
        <h3 class="text-center mt-4 mb-4">All Users Information</h3>
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Password</th>
                        <th scope="col">Schedules</th>
                    </tr>
                </thead>
                
                <% allUsers.forEach((user, index)=> { %>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <%= index %>
                            </th>
                            <td>
                                <a class="text-decoration-none text-primary" href="/users/<%= index %> ">
                                    <%= user.firstname %>
                                </a>
                            </td>
                            <td>
                                <%= user.lastname %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.password %>
                            </td>
                            <td>
                                <a class="text-decoration-none btn btn-primary" href="/users/<%= index %>/Schedules ">View Schedules</a>
                            </td>
                        </tr>
                    </tbody>
                    
                    <% }) %>
            </table>
    </main>
</body>
</html>